<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">

 <ion-list [inset]="true" lines="full" mode="ios">
  <ion-list-header color="primary">
    <ion-label>Menu</ion-label>
  </ion-list-header>
  <ion-item detail="true" routerLink="/botones">
    <ion-icon name="radio-button-on-outline" slot="start"></ion-icon>
    <ion-label>Botones</ion-label>
  </ion-item>
  <ion-item detail="true" routerLink="/alertas">
    <ion-icon name="warning-outline" slot="start" ></ion-icon>
    <ion-label>Alertas</ion-label>
  </ion-item>
  <ion-item detail="true" routerLink="/formulario">
    <ion-icon name="reader-outline" slot="start"></ion-icon>
    <ion-label>Formularios</ion-label>
  </ion-item>
 </ion-list>
</ion-content>
